#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Anthony, I’ve gone through your book. Ok – I skimmed
         through some of the parts dealing with security and APIs,
         but other than that, I was pretty thorough. I picked up on
         some concepts that I have been struggling with for several
         weeks. They way you described many of these concepts is was
         excellent. I worked through the social networking app in
         Chapters 8 and following.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_ton "Join Now", new_user_registration_path
